
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navBackground);
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--boxShadowColor);
    border-radius: 0.5rem;
    border: 1px solid var(--borderColor);
}

.contact-card p{
    color: white;
    font-family:'Fjalla One', sans-serif;
    font-size: 2rem;
    font-family: 'Anek Devanagari', sans-serif;
}
.text-div {
    display: flex;
    align-items: center;
    padding: 2rem;
}
.contact-card img {
    width: 2.5rem;
    margin-left: 0.5rem;
}
.contact-card iframe {
    width: 420px;
    height: 420px;
    padding: 1rem;
}

/*----------------------- Media Query -----------------------*/

@media (max-width: 750px) {
    .contact-card {
        padding: 1.5rem 1rem;
        flex-direction: column;
    }
    .contact-card iframe {
        width: 300px;
        height: 280px;
        padding: 0;
    }
    .text-div {
        padding: 0.5rem 0;
    }
}