
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-card {
    display: flex;
    background-color: var(--navBackground);
    width: 600px;
    height: 600px;
}